__Testing Python3 and Bards__

In [327]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import math
import uuid

In [8]:
pwd()

'C:\\Users\\mikkol\\tmp\\MAS'

In [285]:
f1 = pd.read_csv("tab1.tab", encoding="cp1251", sep="\t")
f2 = pd.read_csv("tab2.tab", encoding="cp1251", sep="\t")

In [286]:
f1

,n,date,music,verses,singer,song,line1,quality
0,1,1968-06-01,Визбор Юрий,Визбор Юрий,Визбор Юрий,Сон под пятницу,Попробуем заснуть...,9
1,2,1970-05-06,Якушева Ада,Якушева Ада,Якушева Ада,Мой друг,Мой друг рисует горы,3
2,3,1988-08-08,Дашкевич В.,Ким Ю.,NaN,"Что будет, то будет",Как следует смажь,6

In [287]:
f2

,singer,movie,line1,year,verses
0,"Боярский М., Миронов А.",Человек с бульваря капуцинов,Как следует смажь,1980,Ким Ю.
1,Камбурова Е.,Нас венчали не в церкви,Ещё он не сшит...,1988,Окуджава Б.

In [330]:
fapp = f1.append(f2, sort=False)

In [367]:
fapp

,n,date,music,verses,singer,song,line1,quality,movie,year
n,,,,,,,,,,
0,0,1968-06-01,Визбор Юрий,Визбор Юрий,Визбор Юрий,Сон под пятницу,Попробуем заснуть...,9.0,-,0
1,1,1970-05-06,Якушева Ада,Якушева Ада,Якушева Ада,Мой друг,Мой друг рисует горы,3.0,-,0
2,2,1988-08-08,Дашкевич В.,Ким Ю.,-,"Что будет, то будет",Как следует смажь,6.0,-,0
3,3,NaN,-,Ким Ю.,"Боярский М., Миронов А.",-,Как следует смажь,NaN,Человек с бульваря капуцинов,1980
4,4,NaN,-,Окуджава Б.,Камбурова Е.,-,Ещё он не сшит...,NaN,Нас венчали не в церкви,1988

In [227]:
fapp['year'] = fapp['year'].replace(np.nan, 0)

In [203]:
fapp['year'] = fapp['year'].replace(0, np.nan)

In [210]:
fapp['year'] = fapp['year'].apply(lambda x: int(x))

In [228]:
fapp['year'].fillna(0)

0       0.0
1       0.0
2       0.0
0    1980.0
1    1988.0
Name: year, dtype: float64

In [229]:
fapp['year'] = fapp['year'].astype(int)

In [256]:
#fapp['n'] = fapp['n'].replace(np.nan, 0, inplace = True)
#fapp['n'] = fapp['n'].astype(int)

In [332]:
fapp['movie'] = fapp['movie'].replace(np.nan, '-')
fapp['singer'] = fapp['singer'].replace(np.nan, '-')
fapp['verses'] = fapp['verses'].replace(np.nan, '-')
fapp['song'] = fapp['song'].replace(np.nan, '-')
fapp['line1'] = fapp['line1'].replace(np.nan, '-')
fapp['music'] = fapp['music'].replace(np.nan, '-')

In [333]:
fapp['year'] = fapp['year'].apply(lambda x: int(x) if not pd.isna(x) else 0)

In [334]:
fapp['n'] = fapp['n'].apply(lambda x: int(x) if not pd.isna(x) else 0)

In [304]:
fapp[year == 1980]

,n,date,music,verses,singer,song,line1,quality,movie,year
0,0,NaN,-,Ким Ю.,"Боярский М., Миронов А.",-,Как следует смажь,NaN,Человек с бульваря капуцинов,1980

In [322]:
fax = fapp.iloc[4]
fax

n                                0
date                           NaN
music                            -
verses                 Окуджава Б.
singer                Камбурова Е.
song                             -
line1            Ещё он не сшит...
quality                        NaN
movie      Нас венчали не в церкви
year                          1982
Name: 1, dtype: object

In [316]:
fapp.loc[ fapp['year']==1980, ['year']] = 1987
fapp.loc[ fapp['year']==1988, ['year']] = 1982

In [363]:
fapp.to_csv('fapp.tab', sep="\t", encoding="utf8")

In [369]:
fapp.index

Int64Index([0, 1, 2, 3, 4], dtype='int64', name='n')

In [328]:
fapp['uuid'] = uuid.uuid4()

In [361]:
fapp['n'] = range(len(fapp))

In [364]:
fapp.index = fapp['n']

In [368]:
fapp['n']

n
0    0
1    1
2    2
3    3
4    4
Name: n, dtype: int32